<!-- extend base layout -->
{% extends "base.html" %}

{% block scripts %}
    <style>
        .page {
            width: 21cm;
            min-height: 29.7cm;
            padding: 2cm;
            margin: 1cm auto;
            border: 1px #D3D3D3 solid;
            border-radius: 5px;
            background: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }
        @page {
            size: A4;
            margin: 0;
        }
    </style>
    <script>
    function preview_notice(select_old_value, select_new_value) {
        $.post('/demo_notice', {
            old_month: select_old_value,
            new_month: select_new_value,
        }).done(function(notice) {
            document.getElementById("content").innerHTML = notice['innerhtml']
        }).fail(function() {
            alert("Some error occur!");
        });
    }
    $(document).ready(function(){
        $('.nav-tabs a[href="#preview"]').click(function(){
            var e = document.getElementById("old");
            var select_old_value = String(e.options[e.selectedIndex].value);
            var e = document.getElementById("new");
            var select_new_value = e.options[e.selectedIndex].value;

            preview_notice(select_old_value, select_new_value);
        });
    });
    </script>
{% endblock %}

{% block content %}
    <h1> Hello Iulian </h1>

    <div class="container">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#settings">Settings</a></li>
            <li><a data-toggle="tab" href="#preview">Preview</a></li>
        </ul>

        <div class="tab-content">
            <div id="settings" class="tab-pane fade in active">
                <h3>Settings</h3>

                <select class="selectpicker" id="old">
                    {% for notice in month_notice %}
                        <option value="{{ notice.id }}"> {{ momentjs(notice.datetime).format('LL') }} </option>
                    {% endfor %}
                </select>

                <select class="selectpicker" id="new">
                    {% for notice in month_notice %}
                        <option value="{{ notice.id }}"> {{ momentjs(notice.datetime).format('LL') }} </option>
                    {% endfor %}
                </select>
            </div>
            <div id="preview" class="tab-pane fade">
                <div id="content" class="page"> </div>
            </div>
        </div>
    </div>

{% endblock %}
